<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Res_ManagementSystem.Properties.Settings.QLYNhaHangConnectionString"
            connectionString="Data Source=DESKTOP-M75TIM6\NPTKEII;Initial Catalog=QLYNhaHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>